Source: ros-indigo-world-item-search
Section: misc
Priority: extra
Maintainer: Russell Toris <rctoris@wpi.edu>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, ros-indigo-catkin, ros-indigo-roscpp, ros-indigo-roslib, ros-indigo-worldlib
Homepage: http://ros.org/wiki/world_item_search
Standards-Version: 3.9.2

Package: ros-indigo-world-item-search
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, ros-indigo-roscpp, ros-indigo-roslib, ros-indigo-worldlib
Description: World Object Search via Persistence Models
