Source: ros-indigo-spatial-temporal-learning
Section: misc
Priority: extra
Maintainer: Russell Toris <rctoris@wpi.edu>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://ros.org/wiki/spatial_temporal_learning
Standards-Version: 3.9.2

Package: ros-indigo-spatial-temporal-learning
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-worldlib
Description: Learning Methods Based on Spatial and Temporal Data
